@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 54% 95%;
    --foreground: 240 5% 4%;
    --card: 240 50% 90%;
    --card-foreground: 240 5% 10%;
    --popover: 240 54% 95%;
    --popover-foreground: 240 95% 4%;
    --primary: 240 26% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 202 30% 85%;
    --muted-foreground: 240 5% 35%;
    --accent: 202 30% 80%;
    --accent-foreground: 240 5% 10%;
    --destructive: 0 54% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 30% 50%;
    --input: 240 30% 18%;
    --ring: 240 26% 23%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 50% 5%;
    --foreground: 240 5% 90%;
    --card: 240 50% 4%;
    --card-foreground: 240 5% 90%;
    --popover: 240 50% 5%;
    --popover-foreground: 240 5% 90%;
    --primary: 240 26% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 202 30% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 202 30% 15%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 54% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 30% 18%;
    --input: 240 30% 18%;
    --ring: 240 26% 23%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
