# fly.toml app configuration file generated for dogexbt-crawler on 2024-12-30T16:25:13+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dogeai-agent'
primary_region = 'bos'

[processes]
agent = "node ./server.js"

[build]
dockerfile = "./Dockerfile"

[metrics]
port = 3000
path = "/api/metrics"
processes = ["agent"]

[http_service]
processes = ["agent"]
internal_port = 3000
force_https = true
auto_stop_machines = 'off'
auto_start_machines = true
min_machines_running = 1

[[http_service.checks]]
grace_period = "10s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/api/health"

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 2
processes = ["agent"]
